.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/Home/bg.jpg');
    background-size: cover;
    background-position: center;
}